.container {
    text-align: center;
}
.title {
    font-size: 30px;
}
img {
    width: 80%;
}
.windowSize {
    font-size: 16px;
}
@media(max-width: 768px) {
    .title {
        font-size: 16px;
    }
    .windowSize {
        font-size: 30px;
    }
}
